@tailwind base;
@tailwind components;
@tailwind utilities;



  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl w-full px-4
  }
  .botao {
    @apply  text-white font-bold py-2 px-4 rounded 
  }
  .botao.cinza {
    @apply bg-gray-500 hover:bg-gray-700
  }
  .botao.azul {
    @apply bg-blue-500 hover:bg-blue-700 
  }
  .botao.vermelho {
    @apply bg-red-500 hover:bg-red-700
  }
  .input {
    @apply block w-full py-2 px-3 bg-gray-800 rounded;
    @apply text-zinc-100
  }
}
